/*Header e Body*/

#content {
    margin: 0px;
    font-family: 'latoregular';
    font-size: 14px;
}

#headerbg {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #E0E0E0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-icon-title {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 20px;
}

#header-icon-title--img {
    height: auto;
    width: 30px;
}

#body {
    margin: 20px 0 0 0;
    padding: 10px;
}

#bodybg {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Form */

#formbg {
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 15px;
    width: 35%;
}

#form-title-main,
#list-title {
    font-weight: bold;
    text-align: center;
}


/* List */

#list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#list-subtitle,
.list-insert,
#list-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#list-subtitle,
#list-total {
    font-weight: bold;
}

.list-insert {
    padding: 0 20px 0 20px;
    border-top: 1px solid;
}

#list-total {
    margin-top: 10px;
    border-top: double;
    display: flex;
    flex-direction: row;
}

.list-subtitle-div,
.list-insert-div,
.list-total-div {
    margin: 10px;
}

.list-insert--simbolo {
    padding: 10px;
}

.list-total-div,
.list-subtitle-div {
    padding: 0 20px 0 50px;
}

.list-insert--valor-label {
    font-size: 12px;
    text-align: right;
}

@media screen and (min-width: 1025px) and (max-width: 1900px),
screen and (min-width: 1000px) and (orientation: landscape) {
    /*Header e Body*/
    #headerbg {
        height: 80px;
    }
    #header,
    #body {
        width: 1100px;
    }
    #header-icon-title--img {
        width: 40px;
    }
    #header-icon-title--span {
        margin: 10px;
    }
    #header-menu-buttom--hamburguer,
    #header-menu-buttom--fechar {
        display: none;
    }
    .header-menu-item {
        background-color: #FFFFFF;
        display: flex;
        flex-direction: row;
    }
    .header-menu-buttom {
        border-right-style: solid;
        border-color: #979797;
        padding: 0px 10px 0 10px;
        margin: 5px 0 5px 0;
    }
    #header-menu-buttom-div3 {
        border: none;
    }
    .header-menu-buttom :hover {
        color: #979797;
        cursor: pointer;
    }
    #body {
        display: flex;
        justify-content: space-between;
    }
    /* Form */
    #formbg {
        display: flex;
        flex-direction: column;
    }
    #form-buttom--add-transacao,
    #form-input--valor,
    #form-input--nome-mercadoria,
    #form-combobox--itens {
        width: 100%;
        height: 30px;
        align-items: center;
        box-sizing: border-box;
        padding-left: 5px;
        color: #979797;
        /*border-radius: 4px;*/
    }
    .form-title,
    .form-title-main {
        padding: 15px 0 5px 0;
    }
    .form-buttom {
        padding: 15px 0 15px 0;
    }
    #form-buttom--add-transacao {
        background-color: #333333;
        color: #FFFFFF;
    }
    /*List*/
    #list {
        width: 65%;
    }
}